/* Google Font- Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-400 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.work-sans-600 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.work-sans-700 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* Reset Styles */
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration:none;
}

/* Variables */
:root {
    --white:hsl(0, 100%, 100%);
    --purple-100:hsl(275, 100%, 97%);
    --purple-600:hsl(292, 16%, 49%);
    --purple-950:hsl(292, 42%, 14%);
    --purple-bright:hsl(281, 83%, 47%);
    --purple-shadow:hsla(286, 46%, 29%, 0.25);
}

/* Body */
body {
    background-image:url(assets/images/background-pattern-mobile.svg);
    background-repeat:no-repeat;
    background-size:100%;
    background-position:top center;
    background-color:var(--purple-100);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
}

main {
    width:clamp(20.000rem, calc(13.816rem + 26.316vw), 37.500rem);
    height:auto;
    background-color:var(--white);
    border-radius:10px;
    align-content:center;
    padding:3%;
    font-size:0.9rem;
    box-shadow:var(--purple-shadow) 2px 2px 40px;
}

.faq-title {
    display:flex;
}

h1 {
    color:var(--purple-950);
    padding:5%;
    font-size:clamp(2.000rem, calc(1.647rem + 1.504vw), 3.000rem);
}

div.question-header {
    display:flex;
    justify-content:space-between;
    padding:2% 0;
}

h2 {
    color:var(--purple-950);
    font-size:1rem;
}

h2:hover {
 color:var(--purple-bright);
 cursor:pointer;
}

.question-block {
    border-bottom:1px solid #E5E5E5;
    padding:2% 0;
}

p.answer {
    color:#b8afba;
    /* display:none; */
}

/* p.answer:target {
    display:block;
} */

/*========================
    Mobile Styles 375px
========================*/
@media screen and (max-width:1440px) {
    main {
        padding:5%;
    }
}


/*========================
    Desktop Styles 1440px
=========================*/
@media screen and (min-width:1441px) {
    body {
        background-image:url(assets/images/background-pattern-desktop.svg);
        background-size:100% auto;
        background-position:top center;
    }
}
    